.form-div {
	padding: 1rem;
	margin-left: 300px;
	margin-right: 300px;
}

@media screen and (max-width: 1000px) {
	.form-div {
		padding: 2rem;
		margin: auto;
	}
}

@media screen and (max-width: 768px) {
	.form-div {
		padding: 1rem;
	}
}
